body {
    background: url("bg.jpg");
}
.wrapper {
    background: #CAE586;
    width: 500px;
    height: 500px;
    border: 2px dotted darkolivegreen;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    font-family: sans-serif;
}
.chataZinas {
    background: #E1E3A2;
    height: 410px;
    margin: 10px;
    color: #222222;
    padding: 5px;
    overflow: scroll;
}